@import 'content_style.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    overflow-x: hidden;
    background-image: url(../../../img/bg_simulacro.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover
}

/******************CUADRO VISUALIZAR DESEMPEÑO**********************************/


.cuadro_prin_dir_simulacro_reg{
 font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    margin: 10px auto;
    background: white;
    width: 100%;
    border-bottom: 4px solid #EA3D4F;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #616060;
    padding: 20px;
}


.cuadro_prin_dir_simulacro_reg #cuadro_content_dir_simulacro_reg{
   display:flex;
   
}

.cuadro_prin_dir_simulacro_reg #cuadro_content_dir_simulacro_reg #cuadro_uno_dir_simulacro_reg{
  padding: 50px;
    margin-right: 30px;
    color: #747474;
    font-size: 20px;
    
}

.cuadro_prin_dir_simulacro_reg #cuadro_content_dir_simulacro_reg #cuadro_dos_dir_simulacro_reg{
    
     width: 350px;
    padding-left: 50px;
    padding-top: 15px;
    border-left: 2px solid #EA3D4F;
   
}
    
.cuadro_prin_dir_simulacro_reg #cuadro_content_dir_simulacro_reg #cuadro_dos_dir_simulacro_reg button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: linear-gradient(to right, rgba(205, 43, 57), rgba(227, 73, 120));
    margin-top: 28px;
    font-family: 'Raleway', sans-serif;
    color: white;
}


/********************MODAL VER DATOS PRUEBA***********************/

.ingresar_datos_simulacro{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    border-bottom: 4px solid #EA3D4F;
    margin-bottom: 20px;
    padding: 50px;
}

.ingresar_datos_simulacro #ingresar_datos_simulacro_titulo{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #747474;
        font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #EA3D4F;
}

.ingresar_datos_simulacro #ingresar_datos_simulacro_content{
    
    width: 100%;
        font-family: 'Raleway', sans-serif;
    margin-top: 30px;
}
 .btn_reg_pre{
     background-image: linear-gradient(to right, rgba(205, 43, 57), rgba(227, 73, 120));
     color: white;
     float: right;

 }
 