@import 'content_style.css';

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    overflow-x: hidden;
    background-image: url(../img/bg_areas.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover
}


/******************CUADRO **********************************/


.cuadro_prin_dir_simulacro_edit{

    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    margin: 10px auto;
    background: white;
    width: 100%;
    border-bottom: 4px solid #EA3D4F;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #616060;
}

.cuadro_prin_dir_simulacro_edit #form_uno_sim_2{
margin: 0 auto;
width: 80%;

}
