@import 'content_style.css';

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    overflow-x: hidden;
    background-image: url(../img/bg_estudiantes.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}




#indice_pag{
    text-align: center;
    margin-top: -30px;
    font-size: 16px;
    padding-bottom: 3px;
}

#titulo_programa{
    margin: 0px auto;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #6E6E6E;
    font-size: 30px;
 
    
}
/******************CUADRO **********************************/

.cuadro_prin{
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    margin: 10px auto;
    background: white;
    width: 100%;
    border-bottom: 4px solid #EA3D4F;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #616060;
     padding-bottom: 30px;
}



.cuadro_prin #cuadro_content #cuadro_uno{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 1px;
    background: linear-gradient(to right, rgba(205, 43, 57), rgba(227, 73, 120)); 
}

.cuadro_prin #cuadro_content #cuadro_uno p{
    font-size: 20px;
    color:white;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    border-left: 2px solid white;
    border-
    padding-bottom: 8px;
}

.cuadro_prin #cuadro_content #cuadro_dos{
    
    width: 100%px;
    padding-left: 50px;
    padding-right:  50px;
    
}


.cuadro_prin #cuadro_content #cuadro_dos .tipo_preg{
text-align: left;
 color: #6E6E6E;
}
.cuadro_prin #cuadro_content #cuadro_dos .enun_preg{
   color: #848484;
    text-align: justify;
 
}

#envio_info{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, rgba(205, 43, 57), rgba(227, 73, 120));
    float: right;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.pru_preg{
    padding-top: 50px;
}

